:root {
    --purple: #32006e;
    --gold: #e8e3d3;
    --lavender: #c5b4e3;
    --gray: #f8f9fa;
}

@font-face {
    font-family: 'Open_Sans';
    src: 
        url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype"),
        url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf") format("truetype");
}

body {
    padding-top: 5rem;
    font-family: "Open_Sans", sans-serif;
}

.bg-purple {
    background-color: var(--purple);
}

.header-anchor{
    color: var(--lavender);
}